@font-face{
  font-family: 'socialico';
  src: url('../fonts/socialico-webfont.woff2') format('woff2'),
      url('../fonts/socialico-webfont.woff') format('woff'),
      url('../fonts/Socialico.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}